.cardSettings{
    width: 300px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin: 3%;
}

.roomIcon{
    align-items: right;
    padding: 45px;
    display: 'flex';
    justify-content: 'flex-end';
}